<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>
          <%= link_to(book.user) do %>
            <%= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %>
          <% end %>
        </td>
        <td><%= link_to "/books/#{book.id}",data: {"turbolinks" => false}, method: :get, class: "book_#{book.id}" do %>
          <%=  book.title %>
          <% end %>
        </td>
        <td><%= book.body %></td>
        <td id="favorite_icon">
              <%= render "favorites/favorite", book: book %>
        </td>
        <td>
          <ul class="inline-meta">
            <p>
              <%= link_to "#{book.book_comments.count} コメント", "/books/#{book.id}" %>
            </p>
          </ul>
        </td>
      </tr>
  </tbody>
</table>